.item .header {
  min-height: 105px;
}
.ui.text {
  margin-top: 5px;
  margin-bottom: 5px;
}

.ui.red.text {
  color: red!important;
}

.ui.green.text {
  color: green!important;
}

h5, .header-text{
  margin-top: 5px;
  color: gray;
}
.ui.blue.text {
  color: #3286cb;
  margin-bottom: 5px;
}